$color-white: #ffffff;

.header {
  display: flex;
  justify-content: space-around;
  padding: 2% 10% 18% 10%;
  background-image: url('../../materials/svg/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  &-logo {
    font-size: 40px;
    line-height: 49px;
    color: $color-white;
    padding-bottom: 3%;
  }
  &-title {
    width: 586px;
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
    line-height: 59px;
    color: $color-white;
    padding-bottom: 5%;
    .span {
      font-weight: bold;
    }
  }
  .description {
    width: 580px;
    font-size: 20px;
    line-height: 142%;
    color: $color-white;
    padding-bottom: 10%;
  }
  .btn {
    display: block;
    width: 154px;
    padding: 25px 0;
    background: $color-white;
    border-radius: 8px;
    font-size: 16px;
    line-height: 142%;
    text-align: center;
    text-decoration: none;
    color: #3a80ba;
  }
}

@media (max-width: 1024px) {
  .wrapp {
    width: 100%;
  }
  .header {
    &-title {
      font-size: 36px;
      width: 100%;
    }
    .description {
      font-size: 26px;
      width: 100%;
    }
    .iphone {
      display: none;
    }
  }
}
