$color-white: #ffffff;

.wrap {
  width: 100vw;
  background-image: url('../../materials/svg/backFooter.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2%;
  .form {
    margin: 2% 0 1% 32%;
    .input {
      width: 579px;
      height: 64px;
      background: $color-white;
      border: 1px solid #f1f1f1;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 16px;
      line-height: 162%;
      align-items: center;
      color: #b9b9b9;
      padding-left: 2%;
    }
    .button {
      width: 176px;
      height: 56px;
      border: none;
      background: #3a80ba;
      border-radius: 8px;
      font-size: 16px;
      line-height: 142%;
      color: $color-white;
      text-align: center;
      transform: translateX(-181px);
    }
  }
  .foot {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
    &-notice {
      font-size: 16px;
      line-height: 142%;
      text-align: center;
      color: $color-white;
      margin-top: 45px;
    }
    &-logo {
      font-size: 32px;
      line-height: 39px;
      color: $color-white;
    }
  }
}
@media (max-width: 1024px) {
  .wrap {
    .form {
      margin-left: 17%;
      .input {
        width: 450px;
      }
      .button {
        width: 140px;
        height: 39px;
      }
    }
    .foot {
      width: 90%;
      &-notice {
        font-size: 12px;
      }
      &-logo {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 425px) {
  .wrap {
    .form {
      .input {
        width: 200px;
        height: 50px;
      }
      .button {
        transform: none;
        width: 120px;
        height: 39px;
        margin-left: 20%;
      }
    }
    .foot {
      width: 90%;
      &-notice {
        font-size: 9px;
      }
      &-logo {
        font-size: 22px;
      }
    }
  }
}
