.chart {
  width: 1000px;
  margin: auto;
}

.form {
  margin-left: 43%;
}
.titleChart {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1a1a1a;
  padding: 0 5%;
}
.btnOk {
  cursor: pointer;
  background: #9ac9f0;
}

@media (max-width: 1024px) {
  .chart {
    width: 450px;
  }
  .form {
    margin-left: 35%;
  }
}
@media (max-width: 425px) {
  .chart {
    width: 300px;
    margin: 0;
  }
  .form {
    margin: 0;
  }
}
